// Variables

$white: #fff !default;
$gray-100: #faf9f8 !default;
$gray-200: #efece9 !default;
$gray-300: #e6e2de !default;
$gray-400: #dad4ce !default;
$gray-500: #bdb5ad !default;
$gray-600: #968e86 !default;
$gray-700: #575049 !default;
$gray-800: #403a34 !default;
$gray-900: #292521 !default;
$black: #000 !default;

$primary: #540C0D !default;
$secondary: #1B626C !default;
